* {
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.conteiner {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    padding: 10px;
}
    .conteiner h2 {
        margin: auto;
        padding: 1em;
    }

#fotoPerfil {
    display: flex;
    justify-content: center;
}

#lista {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 15px;
    padding: 0.5em;
}
    #lista ul li {
        list-style: none;
    }
#pais {
    margin-left: 1.7em;
}

.botones {
    display: flex;
    justify-content: center;
}

.repositorio {
    display: none;
}